{% extends 'base/base.html' %}

{% block page_content %}
  <!-- Dropdown Card Example -->
<div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Lotes del Producto {{producto.descripcion}}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Acciones:</div>
                      <a class="dropdown-item" href="{#% url 'inv:categoria_new' %}#">
                      <i class="far fa-calendar-plus"></i> Nueva</a>
                      
                    </div>
                </div>
            </div>
                <!-- Card Body -->
            <div class="card-body">
            {% if not lotes %}
                <h6 class="alert alert-info">No hay Lotes</h6>
            {% else %}
            <table 
            id="table"
            data-toggle="table"
            data-pagination="true"
            data-search="true"
            data-show-columns="true"
            data-show-toggle="true"
            data-show-fullscreen="true"
            data-locale="es-MX"
                    >
                <thead>
                    <th data-sortable="true" data-field="no">No.</th>
                    <th data-sortable="true" data-field="num">Número de Lote</th>
                    <th data-sortable="true" data-field="fecha" >Fecha Compra</th>
                    <th data-sortable="true" data-field="cantidad">Cantidad</th>
                    <th data-sortable="true" data-field="cantidadi">Cantidad I</th>
                    <th data-sortable="true" data-field="co">Costo Unitario</th>
                    <th data-sortable="true" data-field="ct">Costo Total</th>
                    <th data-sortable="true" data-field="ga">Ganancia</th>
                    <th data-sortable="true" data-field="pu">Precio Unitario</th>
                    
                </thead>
                 
                <tbody>
                    {% for item in lotes  %}
                        {% if item.estado %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.noLote }}</td>
                            <td>{{ item.fecha }}</td>
                            <td>{{ item.cantidad }}</td>
                            <td>{{ item.cantidad_inicial }}</td>
                            <td>{{ item.costo_unitario }}</td>
                            <td>{{ item.costo_total }}</td>
                            <td>{{ item.ganancia }}%</td>
                            <td>{{ item.precio_unitario }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                     
                
            </table>
        {% endif %}
             </div>
    </div>
</div>


{% endblock page_content %}

{% block js_page %}

    
{% endblock js_page %}
