{% extends 'base/base.html' %}

{% block page_content %}
<form method="post" id="reporteVentas">
{% csrf_token %}  
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Listado de Ventas</h6>
      <div class="row">
      <label for="usr">Inicio</label>
      <input type="text" class="form-control" name="fecha_inicio" id="fecha_inicio" readonly>
      </div>
      <div class="row">
        <label for="usr">Final</label>
        <input type="text" class="form-control" name="fecha_final" id="fecha_final" readonly>
        
      </div>
      <div class="row">
         <select name="rutero" id="rutero" required class="form-control">
            <option value="0" selected>Todos Rutero</option>
            {% for item in users   %}
            <option value="{{item.id}}">{{item.username }} </option>
            {% endfor %}
          </select>
        
      </div>
      <div class="row">
        <Button  type="submit" class="form-control" >Imprimir</Button>
      </div>
      <div class="dropdown no-arrow">
    
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Acciones:</div>
          <a class="dropdown-item" href="{% url 'fac:fac_print' %}" target="reportes"><i class="fas fa-print"></i>Listado</a>
         </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      {% if not obj %}
      <div class="alert alert-info">No hay Compras</div>
      {% endif %}
      <table class="table table-striped table-hover dt-responsive nowrap" style="width:100%">
        <thead>
          <th>Id</th>    
          <th>Fecha</th>        
          <th>Serie</th>
          <th>Numero</th>
          <th>Total</th>
          <th>Cantidad</th>
          <th>Cliente</th>
          <th>Rutero</th>

          
        </thead>
        <tbody>
          {% for item in ventas%}
          <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ item.fecha_compra }}</td>
            <td>{{ item.serie }}</td>
            <td>{{ item.numero }}</td>
            <td>{{ item.total }}</td>
            <td>{{item.cantidad_producto}}</td>
            <td>{{ item.cliente }}</td>
            <td>{{ item.uc }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>
{% endblock %}
{% block js_page %}
<script>
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $("#fecha_inicio").val("{{ fecha1 }}").change();
    $("#rutero").val("{{ user }}").change();
    $("#fecha_final").val("{{ fecha2 }}").change();
    $('#fecha_inicio,#fecha_final').datetimepicker({
      format: 'Y-m-d',
      timepicker:false
    });   
    $('#rutero').select2({
            placeholder: "Seleccione Rutero",
            allowClear: true
        });
    $('.table').DataTable({
      "language": {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "<span class='fa fa-angle-double-left'></span>",
            "sLast": "<span class='fa fa-angle-double-right'></span>",
            "sNext": "<span class='fa fa-angle-right'></span>",
            "sPrevious": "<span class='fa fa-angle-left'></span>"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }
    });
  });
  
</script>
{% endblock %}